html, body {
    min-height: 100%;
}

body {
    color: #ecf0f1;
    background-color: #2c3e50;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    max-width: 400px;
}

.action-button {
    display: block;
    margin: 0 auto 20px;
    padding: 20px;
    font-size: 20px;
    color: #ecf0f1;
    background-color: #16a085;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.server-auth {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.server-auth__success {
    background-color: #16a085;
}

.server-auth__failure {
    background-color: #e74c3c;
}